@page "/virtualization"
@using BlazorServer.Components

<h3>Virtualization</h3>
<p>We have a flight infomation display system component with 50K records loaded. This component is written using Blazor virtualization, so only visible + overscanned item is rendered in the DOM.</p>
<hr/>
<FlightInfoBoard/>